.discoverMore {
  padding: 50px 50px;
}

.backgroundImage {
  background-image: url("../../assets/images/bgImage/WorldBag.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}

.disCoverButton {
  width: 50%;
  height: 50px;
  background-color: #d7b65d;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 0.75rem;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow {
  color: black;
  font-weight: 500;
  font-size: 12px;
}

.leftConatiner {
  width: 30%;
}

.rightContainer {
  width: 70%;
}

.description {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: 0%;
  color: #192026;
}

.title_1 {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 44px;
  line-height: 57.6px;
  letter-spacing: 0%;
  color: #d7b65d;
}

.title_2 {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 44px;
  line-height: 57.6px;
  letter-spacing: 0%;
  color: #000;
}

@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }

  .leftConatiner {
    width: 100%;
  }

  .discoverMore {
    padding: 0px 15px;
  }

  .rightContainer {
    width: 0%;
    display: none !important;
  }

  .image{
    display: none;
  }

  .title_1,
  .title_2 {
    font-size: 32px;
    text-align: center;
  }

  .description {
    font-size: 14px;
    text-align: center;
  }

  .disCoverButton {
    width: 100%;
    margin-top: 20px;
  }
}
