.title,
.subtitle {
    font-weight: 500;
    font-size: 44px;
    line-height: 57px;
    font-family: 'Taviraj';
}

.title {
    color: #D7B65D;
}

.subtitle {
    color: #FFFFFF;
}

.bgImage {
    background-image: url('../../assets/images/bgImage/Component\ 1\ \(2\).png'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    border-radius: 12px;
    height: 500px;
}