.car_container{
    background-image: url("../../assets/images/bgImage/car.png");
    height: 65vh; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 50px;
    background-size: cover;
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

.title{
    font-size: 36px;
    color: #2e4053;
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
    font-family: BODONI MODA;
    /* opacity: 0;
    animation: slideIn 1s ease-out forwards; */
}

@keyframes slideIn {
    from {
      transform: translateX(100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}