.main_container{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* .car_container{
    background-image: url("../../assets/images/bgImage/car.png");
    height: 65vh; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 50px;
    background-size: cover;
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

.title{
    font-size: 36px;
    color: #2e4053;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    font-family: BODONI MODA;
    
}

@keyframes slideIn {
    from {
      transform: translateX(100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .car_container{
        background-image: url("../../assets/images/bgImage/car.png");
        height: 25vh; 
        background-position: center; 
        background-repeat: no-repeat;
        padding: 5px;
        background-size: cover;
        opacity: 0;
        animation: slideIn 1s ease-out forwards;
    }

    .main_container{
      margin-top: 0px;
    }
} */