.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background: #d5d8dc;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    flex: 1;
    margin-right: 16px;
  }
  
  .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #2e4053;
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
    color: rgb(63, 60, 60);
    background: none !important;
    margin-left: -10px;
  }
  
  .input:focus {
    border-color: none;
  }

  .input::placeholder {
    color: rgb(63, 60, 60);
  }
  
  .searchButton {
    background-color: #2e4053;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
  }
  
  .searchButton:hover {
    background-color: #333;
  }
  
  .searchButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
  