.admin{
    margin: 0px 50px;
    padding: 120px 0px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: #2e4053;
}

.tableContainer{
    margin-top: 30px;
}


@media (max-width: 768px) {
    .admin{
        margin: 0px 15px;
    }
}